APP_URL=

DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=

RENEWAL_DAYS_BEFORE_START=

ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=       


# Se precidas: public key TEST-01a5eaa4-d247-40e9-a2a7-3d230600b016